# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.hrmsenv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Python cache
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# Migrations cache
*.py[cod]